@page "/account/register"
@using JoshWebTemplate.Core.Models.Account
@using JoshWebTemplate.Core.Services.Account.Api

@inject IAccountApiService AccountApiService

<EditForm Model="registerUserModel" OnValidSubmit="RegisterAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <label>Email:</label>
        <InputText @bind-Value="registerUserModel.Email" />
    </div>
    <div>
        <label>Password:</label>
        <InputText @bind-Value="registerUserModel.Password" type="password" />
    </div>
    <button type="submit">Register</button>
</EditForm>

@code {
    private RegisterUserModel registerUserModel = new();

    private async Task RegisterAsync()
    {
        var result = await AccountApiService.RegisterAsync(registerUserModel);
    }
}