@page "/"
@using MySmartShift.Core.Models.Account
@using MySmartShift.Core.Services.Account.Api

@inject NavigationManager NavigationManager

@inject IAccountApiService AccountApiService;

<h3>Welcome to MySmartShift!</h3>

@if (_isLoading)
{
    <p>Loading user info...</p>
}
else
{
    if (user is not null)
    {
        <p>User role: @user.Role</p>
        <p>User ID: @user.Id</p>
        <p>Created at: @user.CreatedAt</p>
    }
}

<div>
    <a href="/account/login">Login</a>
    <a href="/account/register">Register</a>
    <a href="/account/manage">Manage</a>

    <button @onclick="Logout">Logout</button>

</div>

<MudButton Href="/projects" Color="Color.Primary">Projects</MudButton>

@code {
    private bool _isLoading = true;
    public UserModel? user;

    protected override async Task OnInitializedAsync()
    {
        user = await AccountApiService.GetCurrentUserModelAsync();

        _isLoading = false;
    }

    private async void Logout()
    {
        var result = await AccountApiService.LogoutAsync();

        if (result.IsSuccess)
        {
            NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true); // Force refresh the page
        }
    }
}
