@page "/projects"

@using MySmartShift.Core.Models.Projects
@using MySmartShift.Core.Services.Projects.Api
@using MySmartShift.Services.Projects.Api

@inject IProjectApiService ProjectApiService;

<h3>ProjectsPage</h3>

@if (_isLoading == false)
{

    @if (ProjectModel is not null)
    {
        <div>
            <MudText Typo="Typo.h5">Projects: @ProjectModel.Name</MudText>
            <MudText Typo="Typo.h2">Description: @ProjectModel.Description</MudText>
            <MudText Typo="Typo.h2">Created At: @ProjectModel.CreatedAt</MudText>
        </div>
    }
}

<MudButton OnClick="CreateProject">Create new Project</MudButton>

@code {
    private bool _isLoading = false;
    ProjectModel? ProjectModel;

    protected override async Task OnInitializedAsync()
    {
        ProjectModel = await ProjectApiService.GetProjectByOwnerAsync();
    }

    public async Task CreateProject()
    {
        await ProjectApiService.CreateNewProjectAsync();
        StateHasChanged();
    }
}